

/*
* {
    box-sizing: border-box;
}

.header {
    background-color:#0768e9;
    height: 80px;
    position: fixed;
    width: 100%;
    top:0;
    left:0

}

.nav {
    display : flex;
    justify-content: space-between;
    max-width: 992px;
}


.nav-link {
    color:white;
    text-decoration: none;
}
.log {
    font-size: 20px;
    font-weight: bold;
    padding:0 40px;
    line-height: 80px;
}

.nav-menu {
    display: flex;
    margin-right: 40px;
    list-style: none;
}

.nav-menu-link{
    color:white;
    text-decoration:none;
    padding: 8px 12px;
    border-radius: 3px;
}

.nav-menu-item {
    font-size: 14px;
    margin: 0 10px;
    line-height: 50px;
    text-transform: uppercase;
    max-width: max-content;
}

.nav-menu-link:hover {
    background-color: #034574;
    transition: 0.5s;
}
*/

body {
    background: #181818;
    color : #fff;
    font-family: 'Qicksand', sans-serif;

}


span {
    color: #B70E21;
    text-align: center;
}

p {
    font-size: 17px;
}